<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <div class="container">
        <h1>Biobjective-LP</h1>
        <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Calculate LP</legend>
                    <div class="form-group">
                        {{ form.input1.label(class="form-control-label") }}
                        {{ form.input1(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.input2.label(class="form-control-label") }}
                        {{ form.input2(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.c1.label(class="form-control-label") }}
                        {{ form.c1(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.c2.label(class="form-control-label") }}
                        {{ form.c2(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.c3.label(class="form-control-label") }}
                        {{ form.c3(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.b1.label(class="form-control-label") }}
                        {{ form.b1(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.b2.label(class="form-control-label") }}
                        {{ form.b2(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        {{ form.b3.label(class="form-control-label") }}
                        {{ form.b3(class="form-control form-control-lg is-invalid") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
    
            </form>
            <div class="container">
                    <h3>Lambda:{{form.output[0]}}</h3>
                    <h3>s:{{form.output[1]}}</h3>
                    <h3>r:{{form.output[2]}}</h3>

            </div>
    </div>

</body>
</html>